.error {
    background-color: #FFAAAA;
}
thead {
    font-weight: bolder;
    background-color: #FFFFFF
}

tbody tr:nth-child(even) {
    background-color: #E0E0E0;
}

#controls label {
    display: block;
    text-align: center;
}

#controls input {
    display: block;
    grid-column: 1;
    width: 100%
}
#controls select {
    width: 100%;
}

#active_cols {
    display: flex;
    flex-wrap: wrap;
    height: 6em;
    overflow:auto;
}
#active_cols input {
    width: auto;
}

#scripting {
    overflow: scroll;
}

@media (min-width: 680px) {
    td {
	/* width: 50%; */
	/* border: 1px solid black; */
	/* margin: 20px; */
	/* font-size: 16px; */
	/* 100 = view port width, as 1vw = 1/100th of that
       So if the container is 50% of view port (as here)
       then factor that into how you want it to size.
       Let's say you like 5vw if it were the whole width,
       then for this container, size it at 2.5vw (5 * .5 [i.e. 50%])
       */
	font-size: 2vw;
    }
    #runs td input {
	width: 100%;
	height: 100%;
    }


    body {
	display: grid;
	grid-template-columns: 40ch auto;
    }

    #runs {
	grid-column: 2;
	grid-row: 1 / 3;
	overflow: scroll;
    }

    #controls {
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: 15ch 20ch;
    };

    #scripting {
	grid-column: 1;
	grid-row: 2;
    };

    #controls label {
	vertical-align: middle;
	text-align: right;
    }

    #controls input {
	grid-column: 2;
    }

    #active_cols {
	display: grid;
	overflow: auto;
    }

    #controls p, #controls pre, #save_script {
	grid-column: 1/3;
    }
}
